<%= form_with(model: @meal, local: true) do |f| %>
  <div class="field">
  <%= f.label :days %>
  <%= f.select :days, ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'].collect{|d|[d,d]}, required: true, placeholder: "Pick a day of the week" %>
  </div>

  <div class="field">
  <%= f.label :meals %>
  <%= f.select :name, ['Breakfast', 'Second Breakfast', 'Elevenses', 'Luncheon', 'Afternoon Tea', 'Dinner', 'Supper'].collect{|n|[n,n]}, required: true, placeholder: "Select Meal"%>
  <br>
  
  <%= f.submit 'Update Your Meal Plan' %>
  </div> 

  <% end %>