<%# <h1>Todays Meals</h1>
<p>Find me in app/views/meals/index.html.erb</p> %>

<h1>Hobbit Helper</h1>
<h2>Welcome, <%= current_user.first_name %> ! </h2>
<br>
<div class = "client profile">
<h3> Client Profile </h3>
<br>
<p> Name: <%= current_user.first_name%> <%= current_user.last_name%> <p>
<p> Age: <%= current_user.age%> <p>
<p> Gender: <%= current_user.gender%> <p>
<p> Calorie Goal: <%= current_user.calorie_goal%> <p>
</div>

<br>
<%= link_to 'Create a New Meal Plan', new_meal_path %>
<br>
<ul>
    <% @meals.each do |meal| %>
        <li>
            
            <%= meal.name %> 
            <%= link_to "New", new_meal_item_path(meal)%>
            <%= link_to 'Edit', edit_meal_path(meal) %> 
            <%= link_to 'Delete', meal_path(meal), method: :delete%>
        </li>
    <% end %>
</ul>

<footer><%= button_to "Log Out", destroy_user_session_path, method: :delete %></footer>
<%# <%= button_to 'Log Out', destroy_user_session_path, method: :delete %> 